<div class="page-container">
  <h2 class="text-3xl font-bold mb-6">Lista de Productos</h2>
  <div class="mb-6 flex justify-between items-center">
    <input type="text" [(ngModel)]="filter" (input)="onSearch()" placeholder="Buscar productos" class="form-input w-64">
    <button (click)="router.navigate(['/products/new'])" class="btn btn-primary flex items-center">
      Nuevo Producto
    </button>
  </div>
  <table class="w-full">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Fecha de Ingreso</th>
        <th>Usuario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$ | async" class="hover:bg-gray-50">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{ product.dateOfEntry | date: 'dd/MM/yyyy' }}</td>
        <td>{{product.user.name}}</td>
        <td class="flex space-x-2">
          <button (click)="editProduct(product.id)" class="btn btn-secondary">Editar</button>
          <button (click)="deleteProduct(product.id)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
