<nav class="bg-primary-600 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-white text-2xl font-bold">Nexos Inventory</a>
    <ul class="flex space-x-4">
      <li><a routerLink="/products" routerLinkActive="text-white"
          class="text-primary-200 hover:text-white">Productos</a></li>
      <li><a routerLink="/users" routerLinkActive="text-white" class="text-primary-200 hover:text-white">Usuarios</a>
      </li>
    </ul>
  </div>
</nav>

<main class="container mx-auto mt-8">
  <router-outlet></router-outlet>
</main>
