<div class="page-container">
  <h2 class="text-3xl font-bold mb-6">Lista de Usuarios</h2>
  <div class="mb-6 flex justify-between items-center">
    <button (click)="router.navigate(['/users/new'])" class="btn btn-primary">
      Nuevo Usuario
    </button>
    <button (click)="router.navigate(['/products'])" class="btn btn-secondary">
      Volver a Productos
    </button>
  </div>
  <table class="w-full">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Rol</th>
        <!-- <th>Acciones</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" class="hover:bg-gray-50">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.role.name}}</td>
        <td class="flex space-x-2">
          <!-- <button (click)="editUser(user.id)" class="btn btn-secondary">Editar</button> -->
          <!-- <button (click)="deleteUser(user.id)" class="btn btn-danger">Eliminar</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
